body {
        background-image: url(./Assets/image.png);
/*    background-position: center;
*/      background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
/*    background-color: #ffff00;
*/}
